{% extends "base.html" %}
{% block title%}
  <title>{{ art.title }} - {{ blog.name }}</title>
{% endblock %}

{% block style %}
  <style>
  img {
    {% if art.img_width|length %}
    max-width: {{ art.img_width }} !important;
    {% else %}
    max-width: {{ blog.img_max_width }} !important;
    {% endif %}
    height: auto !important;
  }
  </style>
{% endblock %}

{% block header %}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <div id="header-created-at">
        <span style="font-size: 0.5 em; color: #888;">{{ art.ctime[0:10] }} </span>
    </div>

    <div id="header-home-link" style="font-size: 0.5 em;">
        <a href="index.html">&lt; Home</a>
        {% if not art.ignored %}
        <a href="years.html">&lt; Timeline</a>
        |
        <a href="random.html">Random &gt;</a>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block main %}

{% if art.summary %}
<div class="post-ai">
    <div class="ai-title">
        <div class="ai-title-text">AI Summary by GPT-4</div>
    </div>

    <div class="ai-explanation ai-explanation-content">
        {{ art.summary }}
    </div>
</div>
{% endif %}


{{ art.content|safe }}


<style>
.nav-button {
  padding: 10px 20px;
  background-color: #F2F2F2; /* Light grey */
  border: none;
  color: black; /* Change text color to black for visibility against transparent background */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
  width: 48%; /* Set the width to approximately half the page */
  white-space: normal; /* Allow text to wrap onto a new line */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}


@media (max-width: 600px) {
  .nav-button {
    font-size: 12px;  /* 在小屏幕上减小字体大小 */
  }
}

.nav-button a {
  color: inherit; /* Inherit text color from parent element */
  text-decoration: none;
}

.nav-button:hover {
  background-color: #EAEAEA; /* Dark grey on hover */ 
}

#prev-button {
  float: left;
  text-align: left;
}

#next-button {
  float: right;
  text-align: right;
}
</style>

{% if not art.ignored %}
{% if art.prev %}
    <a href="{{ art.prev.id }}.html" class="nav-button" id="prev-button">&lt; {{ art.prev.title }}</a>
{% else %}
  <a href="index.html" class="nav-button" id="prev-button"> I'm the first! Home! </a>
{% endif %}
{% if art.next %}
    <a href="{{ art.next.id }}.html" class="nav-button" id="next-button">{{ art.next.title }} &gt;</a>
{% else %}
 <a href="index.html" class="nav-button" id="next-button"> I'm the last! Home! </a>
{% endif %}
{% endif %}

<br>

<script src="https://giscus.app/client.js"
        data-repo="yinan-c/pages-comment"
        data-repo-id="R_kgDOKTPNKg"
        data-category="Announcements"
        data-category-id="DIC_kwDOKTPNKs4CZSbD"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_high_contrast"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

{% endblock %}


{% block footer %}

<div id="updated-at">
  <span>Created: {{ art.ctime[0:10] }}</span>
  <span>Updated: {{ art.mtime[0:10] }}</span>
</div>

<div id="footer">
  <div id="footer-home-link">
    <a href="index.html">&lt; Home</a>
    {% if not art.ignored %}
    <a href="title-index.html#{{art.index_id}}">&lt; Index</a>
    |
    <a href="random.html">Random &gt;</a>
    {% endif %}
  </div>
  <p id="footer-body">
    {% if art.author|length %}
    Author: {{ art.author }}</a>
    {% else %}
    © 2023 <a href = "{{ blog.website }}">{{ blog.author }}</a>
    {% endif %}
    <a href="http://creativecommons.org/licenses/by/4.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by.png" alt="Creative Commons Licence" width="45" style="vertical-align: text-top;" ></a>
    · Powered by <a href="https://github.com/yinan-c/pyboke">PyBoke</a>
    · Subscribe via <a href="atom.xml"> RSS <img src="https://wp-assets.rss.com/blog/wp-content/uploads/2019/10/10111557/social_style_3_rss-512-1.png" alt="RSS" width="15" height="15" style="vertical-align: text-top;"></a>
  </p>
</div>
{% endblock %}


<script>
  function changeGiscusTheme() {
    const theme = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
                  ? 'dark'
                  : 'light';

    function sendMessage(message) {
      const iframe = document.querySelector('iframe.giscus-frame');
      if (!iframe) return;
      iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
    }

    sendMessage({
      setConfig: {
        theme: theme
      }
    });
  }

  changeGiscusTheme();

  const colorSchemeQuery = window.matchMedia('(prefers-color-scheme: dark)');
  colorSchemeQuery.addListener((e) => {
    changeGiscusTheme();
  });
</script>
