{% extends "base.html" %}

{% block main %}
<header>
  <h1>{{ blog.name }}</h1>
</header>

<h3>Go to an article randomly</h3>

<p>访问本页会随机访问一篇文章（自动跳转）</p>

{% endblock %}

{% block footer %}
<div id="footer" class="index-footer">
  <p id="footer-body">
    © <a href="{{ blog.website }}">{{ blog.author }}</a>
    · <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY NC 4.0</a>
    · <a href="https://github.com/yinan-c/pyboke">PyBoke</a>
    · <a href="atom.xml"> RSS </a>
  </p>
</div>
{% endblock %}

{% block script %}
<script>
const files = {{ files|safe }}
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}
function randomlyGo() {
  const i = getRandomInt(0, files.length);
  location.href = files[i];
}
randomlyGo()
</script>
{% endblock %}
